
body{
    background-image: url('../image/fde887_366529.jpg');
height: 100vh;
background-size: 100% 100%;

}
.img{
    color: #fff;
}
h1{
    font-size: 80px;
    font-weight: bolder;
    font-family: 'Lobster', sans-serif;
}
p{
    font-size: 30px;
font-weight: 500;

}
button{
    width: 200px;
    height: 70px;
    background-image:linear-gradient(90deg, #fff,yellow ) ;
    color:#000;
    border: none;
    border-radius: 5px;
}
.container{
    width: 65%;
    margin: auto;
    background-color: #000000a1;
    border-radius: 5px;
}

img{
    width: 15%;
height: 15%;
    border-radius: 50%;
}
button:hover{
    background-image:linear-gradient(90deg, #fff ,rgb(0, 201, 236) ) ;

}